<%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :confirm => 'Are you sure?' %>  <%= current_user.email %>

<h1>Session#index</h1>
<p>Find me in app/views/session/index.html.erb</p>
